@page "/"

<PageTitle>Index</PageTitle>

<h1>Hola Profe Enel!!</h1>
<h3> Greilyn Polanco Tejada,  Matricula:2020-0577</h3>
<h4>Parcial 1, Registro de libros</h4>


<SurveyPrompt Title="How is Blazor working for you?" />
