@page "/BooksG"


<style>
    .card{
        width: 500px;
    }

</style>
<EditForm Model="book">
    <div class = "card">
        <div class = "card-header">
            <h1>Registro de Libros</h1>
        </div>
        <div class = "card-body">
            
        </div>
        <div class = "card-footer">
            <button class = "btn btn-primary">Nuevo</button>
            <button class = "btn btn-success">Guardar</button>
            <button  class = "btn btn-danger">Eliminar</button>
        </div>
    </div>

</EditForm>

@code{

    [Parameter]

    public BooksG book {get; set;}= new BooksG();
}